/*
  Assignment: Chapter 5 BMI Tracker App
  Author: Brittny Eaddy
  Date: 8/16/2020
  Purpose: To center, format, and add a border to BMI table.
*/

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}